<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <title><%= title %></title>
  </head>
  <body class="bg-index">
    <div class="container" style="margin: 2rem auto">
      <div class="jumbotron" style="width: 900px; margin: auto;">
        <div class="row">
          <div class="col">
            <h1 class="display-4 text-center"><strong style="font-size: 4rem">4</strong><p id="rotating-emoji">🤔</p><strong style="font-size: 4rem">4</strong></h1>
          </div>
          <div class="col-9">
            <p class="lead">Contemplation is long, hard thinking about something. If you’re writing a book on the meaning of the universe, then you’re going to need to do a great deal of contemplation.</p>
            <p class="lead"><strong>TL;DR: Page is not available</strong></p>
            <a class="btn btn-primary btn-lg" href="/" role="button">Take me back</a>
          </div>
        </div>
      </div>
      <% include ../partials/bootstrap-scripts %>
    </div>
    <% include ../partials/topup-modal %>
  </body>
</html>